Source: python3-pywayland
Section: python
Priority: optional
Build-Depends: debhelper (>= 10), python3-all-dev, python3-setuptools, python3-pytest, python3-cffi (>=1.12.0), build-essential, waylandpp-dev, wayland-utils, dh-python
Standards-Version: 4.5.0
Maintainer: Archisman Panigrahi <apandada1@gmail.com>

Package: python3-pywayland
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}, python3-cffi (>=1.12.0)
Description: Python bindings for the libwayland library 
 PyWayland provides a wrapper to the libwayland library using the CFFI library to provide access to the Wayland library calls and written in pure Python.
